.container1{
    width: auto;
    opacity: 1;
    position: relative;
    /* z-index: -1; */
    margin: auto;
    
}
.body { 
    background: whitesmoke;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: cornflowerblue;
    overflow: hidden;
    width: 1200px;
    height: 0;
    transition: .5s ease;
    margin: auto;
  }
.contain{
    background: darkslategray;
    color: black;
    text-decoration: none;
}
header li{
    float: left;
    padding: 20px;
}
.container1:hover .overlay {
    height: 600px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    
}
.container1 h1{
    display: block;
    margin: auto;
    margin-top: 200px;
    text-decoration: none;
    text-align: center;
    color:wheat;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: slategray;
    font-style: oblique;
    font-weight: bolder;
    font-size: 64px;
    z-index: 1;
    /* background-color: slateblue; */
}
.container1 p{
    margin: auto;
    color:whitesmoke;
    padding: 10px;
    text-align: justify;
    max-width: 700px;
    z-index: 1;
    
}
.container1 a{
    text-align: center;
    text-decoration: none;
    border: inherit 1px solid;
    padding: 10px;
    margin: auto;
    color: firebrick;
    background-color: royalblue;
    z-index: 1;
}
.container1 a:hover{
    background-color: midnightblue;
    /* border-radius: 30px; */
    color:wheat;
    font-style: bold;
}
.image {
    display: block;
    width: 1200px;
    height: 600px;
    margin: auto;
    border: black 1px solid;
    
}

.container2{
    max-width: 1200px;
    margin: auto;
    border: black 1px solid;
    padding: 10px;
    background-color: lightblue;
    color: darkblue;
}
.container2 h3{
    border: black 1px solid;
    padding: 5px;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.container2 p{
    border: black 1px solid;
    padding: 5px;
    /* display: inline-block; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
    text-align: justify;
    height: fit-content;
}
.container3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
  }
.image1 {
    display: inline;
    max-width: 300px;
    margin: initial;
    height: 100%;
    border: black 1px solid;
    grid-row: 1 / span 2;
    
}
.box{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    border: black 1px solid;
    margin: auto;
    max-width: inherit;
}
.container3 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: ivory;
}
.container3 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold; */
    color: ivory;
}
.container4 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
  }
.image2 {
    display: inline;
    max-width: 300px;
    margin: initial;
    height: 100%;
    border: black 1px solid;
    grid-row: 1 / span 2;
    grid-column: 2;
}

.container4 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: ivory;
    text-align: right;
}
.container4 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold; */
    color: ivory;
    text-align: right;
}
.container5{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1200px;
    margin: auto;
    align-content: center;
    background-color: #2196F3;
}
.image3{
    max-width: 300px;
    max-height: 300px;
    padding: unset;
    margin: unset;
}
.container6{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}
.container6 p{
    max-width: 275px;
}
.container7{
    max-width: 1200px;
    border: black 1px solid;
    margin: auto;
}
.boxx{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: auto;
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 30px;
}
.boxx div{
    border: black 1px inset;
}
.boxx img{
    max-width: 200px;
    max-height: 200px;
    padding: unset;
    margin: unset;
}
.boxx h3{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: dashed;
    text-decoration-thickness: 18em;
}
.boxx p{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}